@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.RegisterViewModel>
@using System.Collections.Generic
@using DevDayCFP.Extensions
@using DevDayCFP.ViewModels


<div class="container-fluid">
    <div class="section-header">
        <h1>Register</h1>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <form method="post" data-parsley-validate>
                @Html.ValidationSummary((List<ErrorViewModel>)ViewBag.Page.Value.Errors)

                <div class="control-group">
                    <label for="UserName">Username *</label>
                    <input type="text" class="span12" name="UserName" value="@Model.UserName" required
                           data-parsley-trigger="change focusout" />
                </div>
                <div class="control-group">
                    <label for="Email">Email *</label>
                    <input type="email" class="span12" name="Email" value="@Model.Email"
                           data-parsley-type="email" data-parsley-trigger="change focusout" required />
                </div>
                <div class="control-group">
                    <label for="Password">Password *</label>
                    <input type="password" class="span12" name="Password" id="Password" value="@Model.Password"
                           required data-parsley-trigger="change focusout" data-parsley-length="[8, 128]" maxlength="128"
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,128}$"
                           data-parsley-pattern-message="Password must contain at least: one lowercase and one uppercase letter, one digit and be minimum 8 characters long" />
                </div>
                <div class="control-group">
                    <label for="ConfirmPassword">Confirm Password *</label>
                    <input type="password" class="span12" name="ConfirmPassword" value="@Model.ConfirmPassword"
                           data-parsley-equalto="#Password" data-parsley-trigger="change focusout" required />
                </div>
                <p>
                    <button type="submit" class="btn btn-success">Register</button>
                </p>
            </form>
        </div>
    </div>
</div>
