@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.Models.Paper>
@using System.Collections.Generic
@using DevDayCFP.Extensions
@using DevDayCFP.ViewModels

@{
    ViewBag.CheckboxString = Model.IsThereLiveCoding ? "checked" : ""; 
}

<div class="container-fluid">
    <div class="section-header">
        <h1>Your <small class="light">submission</small></h1>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <form method="post" action="" data-parsley-validate>
                <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                <input type="hidden" value="@Model.User.Id" name="UserId" id="UserId" />

                @Html.ValidationSummary((List<ErrorViewModel>)ViewBag.Page.Value.Errors)

                <div class="row-fluid">
                    <div class="control-group">
                        <label for="Title">Title *</label>
                        <input type="text" name="Title" class="span12" value="@Model.Title" required
                               data-parsley-trigger="change focusout" placeholder="Let it shine"/>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="control-group">
                        <label for="Level">Level *</label>
                        <input type="text" class="span12" name="Level" value="@Model.Level" required
                               data-parsley-trigger="change focusout" placeholder="Beginner? Advanced?"/>
                    </div>
                    <div class="control-group">
                        <label></label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="IsThereLiveCoding" value="true" @ViewBag.CheckboxString> Contains Live Coding ?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="Abstract">Abstract *</label>
                    <textarea rows="6" class="span12" type="text" name="Abstract" value="@Model.Abstract"
                              data-parsley-trigger="change focusout" required placeholder="What's the subject ?">@Model.Abstract</textarea>
                </div>


                <div class="control-group">
                    <label for="Justification">Tell us why this subject may be inspirational</label>
                    <textarea rows="6" class="span12" type="text" name="Justification" value="@Model.Justification"
                              placeholder="Rock our world!"></textarea>
                </div>


                <p>
                    <button type="submit" name="action" value="draft" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Save</button>
                </p>
            </form>
        </div>
    </div>
</div>
