@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.Models.Paper>
@using System.Collections.Generic
@using DevDayCFP.Extensions
@using DevDayCFP.ViewModels


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Submit New Paper</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" data-parsley-validate>
            <input type="hidden" value="@Model.Id" name="Id" id="Id"/>

            @Html.ValidationSummary((List<ErrorViewModel>)ViewBag.Page.Value.Errors)
                        
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" name="Title" value="@Model.Title" required
                               data-parsley-trigger="change focusout" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Level">Level</label>
                        <select class="form-control" name="Level" id="Level" required data-parsley-trigger="change focusout">
                            <option value="">...</option>
                            @foreach (var level in DevDayCFP.Common.Consts.PaperLevels)
                            {
                                if (level == Model.Level)
                                {
                                    <option selected="selected" value="@level">@level</option>
                                }
                                else
                                {
                                    <option value="@level">@level</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Abstract">Abstract</label>
                <textarea rows="6" type="text" class="form-control" name="Abstract" value="@Model.Abstract"
                          data-parsley-trigger="change focusout" required></textarea>
            </div>


            <div class="form-group">
                <label for="Justification">Tell us why this subject may be inspirational</label>
                <textarea rows="6" type="text" class="form-control" name="Justification" value="@Model.Justification"
                          data-parsley-trigger="change focusout" required></textarea>
            </div>


            <p>
                <button type="submit" name="action" value="draft" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Save as draft</button>
                <button type="submit" name="action" value="send" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Send for review</button>
            </p>
        </form>
    </div>
</div>
